.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #cb11ab; /* Твой фирменный цвет */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.searchContainer {
  flex: 1;
  margin: 0 40px;
  max-width: 600px;
  display: flex;
  
}

.searchInput {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #cb11ab;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  background-color: white;
  color:#cb11ab;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s;
}

.navLink:hover {
  color: #cb11ab;
}