.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 800;
}

.empty {
  text-align: center;
  color: #888;
  margin-top: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatCard {
  display: flex;
  align-items: center;
  padding: 15px;
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.chatCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  border-color: #cb11ab;
}

.avatar {
  width: 50px;
  height: 50px;
  background: #cb11ab;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
}

.info {
  flex: 1;
  overflow: hidden;
}

.topRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
  font-size: 16px;
}

.date {
  font-size: 12px;
  color: #999;
}

.lastMessage {
  color: #666;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Три точки, если текст длинный */
}
body {
  background-color: #ffffff;
}