.container {
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background: white;
}

.header {
  padding: 20px;
  border-bottom: 1px solid #eee;
  background: #f9f9f9;
  border-radius: 12px 12px 0 0;
}

.messagesArea {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
}

.message {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.4;
}

/* Мои сообщения (Справа, фиолетовые) */
.myMessage {
  align-self: flex-end;
  background: #cb11ab;
  color: white;
  border-bottom-right-radius: 2px;
}

/* Чужие сообщения (Слева, серые) */
.otherMessage {
  align-self: flex-start;
  background: #f1f1f1;
  color: #333;
  border-bottom-left-radius: 2px;
}

.date {
  font-size: 10px;
  opacity: 0.7;
  text-align: right;
  margin-top: 5px;
}

.inputArea {
  padding: 20px;
  border-top: 1px solid #eee;
  display: flex;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.sendBtn {
  padding: 12px 24px;
  background: #cb11ab;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
body{
    background-color: #eaeaea;
}